*.iml
*jar
.clj-kondo/.cache
.cpcache/
.idea
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/checkouts/
/classes/
/example-lein-output
/example/example-lein-output
/lib/
/target/
/test/resources/odc.update.lock
cache/
oss_cache/
pom.xml
pom.xml.asc
test/resources/dc.h2.db
test/resources/dc.trace.db
test/resources/jsrepository.json
test/resources/odc.mv.db
