{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/java.classpath {:mvn/version "1.0.0"}
        clansi/clansi {:mvn/version "1.0.0"}
        org.clojure/data.json {:mvn/version "2.5.0"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.10"}
        org.owasp/dependency-check-core {:mvn/version "12.1.0"}
        rm-hull/table {:mvn/version "0.7.1"}
        trptcolin/versioneer {:mvn/version "0.2.0"}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :tools/usage {:ns-default nvd.task}
 :aliases {:test {:extra-paths ["test"]}
           :runner {:extra-deps {com.cognitect/test-runner
                                 {:git/url "https://github.com/cognitect-labs/test-runner"
                                  :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
                    :main-opts ["-m" "cognitect.test-runner" "-d" "test"]}
           :outdated {:replace-deps {olical/depot {:mvn/version "2.1.0"}}
                      :main-opts ["-m" "depot.outdated.main"]}}}
