name: Continuous Integration
on:
  push:
  pull_request:
  schedule:
    # The cron job aims to exercise dogfooding regularly, as NVD results are always subject to change.
    # Run at 08:00 on Mondays:
    - cron: "0 8 * * 1"
jobs:
  test_suite:
    name: Linting and tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: ["8", "11"]
    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - name: Checkout the branch
        uses: actions/checkout@master
        with:
          ref: ${{ github.ref }}
      - run: .github/lint.sh
      - name: Install leiningen
        uses: DeLaGuardo/setup-clojure@master
        with:
          lein: 2.9.4
      - run: lein cljfmt check
      - run: lein with-profile +dev cloverage --lcov
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          path-to-lcov: ./target/coverage/lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: success()
        continue-on-error: true
  integration:
    name: Integration test suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: ["8", "11"]
    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - name: Checkout the branch
        uses: actions/checkout@master
        with:
          ref: ${{ github.ref }}
      - name: Install leiningen
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: '1.10.3.1029'
          lein: '2.9.4'
      - run: shellcheck .github/*.sh
      - run: .github/integration_test.sh
